.headerOuterContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 80%;
    border: 5px solid black;
    border-radius: 10px;
    background-color: #0D0D0D;
  }
  
  .headerInnerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    
  }
  
  .headerInnerContainer img {
    display: flex;
    height: 90%;
    width: auto;
    margin: 10px;
  }
  
  .headerInnerContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 70%;
    font-size: 150px;
    color: #F2F2F2;
  }