.livesComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 30%;
    border-radius: 10px;
    margin: 0 0 10px 0;
    font-size: 30px;
    background-color: #F2F2F2;
    color: #0D0D0D;
}