.questionComponentOuter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
}

.questionComponentInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    font-size: 50px;
    color: #F2F2F2;
    overflow-wrap: break-word;
}